---
import MarkdownContent from "./MarkdownContent.astro";
import { transformAssetPath } from "../../lib/transform-asset-path";

interface Props {
  content: string;
  bgImage: string;
}

const { content, bgImage } = Astro.props;
const src = transformAssetPath(bgImage);
---

<section
  class="relative w-full section-pad text-white"
  style={`background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('${src}'); background-size: cover; background-position: center;`}
>
  <div class="container-narrative text-center [&_h2]:text-white [&_h2]:border-white/30 [&_p]:text-white/95">
    <MarkdownContent content={content} />
  </div>
</section>
