---
interface Props {
  position?: "top" | "bottom";
  fill?: string;
}

const { position = "bottom", fill = "var(--color-page)" } = Astro.props;
---

<div class:list={["w-full leading-[0]", position === "top" && "rotate-180"]}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 100"
    preserveAspectRatio="none"
    class="block w-full h-[60px]"
    aria-hidden="true"
  >
    <path
      d="M0,50 C240,100 480,0 720,40 C960,80 1200,20 1440,60 L1440,100 L0,100 Z"
      fill={fill}
    />
  </svg>
</div>
